@using Website.Models
@using SocialMediaScrapers.Instagram.Model

@{
    ViewBag.Title = "Other Services";
    ViewBag.GalleryTitle = "Other Services Gallery";
    ViewBag.GalleryDescription = "Click on an image below to view photos of our additional services.";

    Media coverImage = null;
    InstagramGallery coverImages = ViewBag.CoverImage as InstagramGallery;

    if (coverImages != null)
    {
        coverImage = coverImages.MediaItems.Where(i => i.MediaType == MediaType.Image).OrderByDescending(i => i.CreateDate).FirstOrDefault();
    }

    Layout = "~/Views/Shared/_InnerServicePage.cshtml";
}


<h1 class="gold text-center">@ViewBag.Title</h1>
@if (coverImage != null)
{
    <p class="text-center">
        <img src="@coverImage.Images.LowResolution.Url" width="250" alt="@ViewBag.Title" />
    </p>
}
<p class="text-center">
    Etiam ornare sapien leo, vel iaculis elit condimentum sed. Phasellus pretium porttitor elit. Curabitur a urna eu nibh dapibus ornare. 
    Fusce velit turpis, ultrices vitae ipsum a, ultricies maximus leo. Vestibulum volutpat convallis tempor. Aenean accumsan elit et ornare fermentum
</p>

<hr class="horizontal-line" />

<h2 class="gold text-center" id="casino-services">
    <em>Casino Services</em>
</h2>

<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Available Games Include:
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <ul class="colored">
            <li>Black Jack</li>
            <li>Let it Ride</li>
            <li>Roulette</li>
            <li>Caribbean Stud Poker</li>
            <li>Three Card Poker</li>
            <li>Red Dog</li>
            <li>Craps</li>
            <li>Texas Hold’em</li>
            <li>Chuck-A-Luck</li>
            <li>Money Wheel</li>
            <li>Casino War</li>
        </ul>
    </div>
</div>

<hr class="horizontal-line" id="fundraising-services" />

<h2 class="gold text-center">
    <em>Fundraising</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Can we insert the content from the current site into this section?
        </p>
    </div>
</div>

<hr class="horizontal-line" id="gameshows-services" />

<h2 class="gold text-center">
    <em>Game Shows</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Looking for a new and exciting way to create a legendary party? We'll set up your party to look just like a game show set.
            Our game show equipment is real. The crowd will erupt in cheers and laughter each time they hear the buzzer.
            Contestants are asked questions that are a blend of trivia questions we bring with ones you can provide.
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <p>
            Available Games Include:
        </p>
        <ul class="colored">
            <li>Jeopardy Simulation</li>
            <li>Wheel of Fortune Simulation</li>
            <li>Family Feud Simulation</li>
            <li>Hollywood Squares Simulation</li>
            <li>Deal or No Deal Simulation</li>
        </ul>
    </div>
</div>

<hr class="horizontal-line" id="monograms-services" />

<h2 class="gold text-center">
    <em>Custom Monograms</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Ambiance is important!  Full House Entertainment specializes in creating an environment that is nothing less than stunning. We offer unique, affordable lighting solutions for weddings and events.
        </p>
        <p>
            Looking for that little something Extra? Try adding a custom dance floor or wall projected monogram.
        </p>
    </div>
</div>

<hr class="horizontal-line" id="lighting-services" />

<h2 class="gold text-center">
    <em>Specialty Lighting</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Ambiance is important!  Full House Entertainment specializes in creating an environment that is nothing less than stunning. We offer unique, affordable lighting solutions for weddings and events.
        </p>
        <p>
            Looking for that little something Extra? Try adding a custom dance floor or wall projected monogram.
        </p>
    </div>
</div>

<hr class="horizontal-line" id="rentals-services" />

<h2 class="gold text-center">
    <em>Rentals</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Etiam ornare sapien leo, vel iaculis elit condimentum sed. Phasellus pretium porttitor elit. Curabitur a urna eu nibh dapibus ornare. 
            Fusce velit turpis, ultrices vitae ipsum a, ultricies maximus leo. Vestibulum volutpat convallis tempor. Aenean accumsan elit et ornare fermentum. 
            Integer velit mauris, accumsan ut tempor vestibulum, efficitur quis sapien. Vestibulum sit amet purus nunc. Pellentesque ut faucibus nisi. Nullam ultrices ornare blandit. 
        </p>
        <p class="learnmore">
            <a href="@Url.Action("Rentals", "Services")">See our full rental catalog <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </p>
    </div>
</div>