@using Website.Models
@using SocialMediaScrapers.Instagram.Model

@{
    ViewBag.MetaTitle = "Casino Parties, Game Shows, Fundraising - Full House Entertainment";
    ViewBag.Title = "Other Services";
    ViewBag.GalleryTitle = "Other Services Gallery";
    ViewBag.GalleryDescription = "Click on an image below to view photos of our additional services.";

    Media coverImage = null;
    InstagramGallery coverImages = ViewBag.CoverImage as InstagramGallery;

    if (coverImages != null)
    {
        coverImage = coverImages.MediaItems.Where(i => i.MediaType == MediaType.Image).OrderByDescending(i => i.CreateDate).FirstOrDefault();
    }

    Layout = "~/Views/Shared/_InnerServicePage.cshtml";
}


<h1 class="gold text-center">@ViewBag.Title</h1>
@if (coverImage != null)
{
    <p class="text-center">
        <img src="@coverImage.Images.LowResolution.Url" width="250" alt="@ViewBag.Title" />
    </p>
}
<p class="text-center">
    Our name just isn’t Full House but we have a full house of services that we can provide for your party or special event. 
    We are proud to be Upstate New York’s Premier Entertainment Specialists and would be honored to help you celebrate your next big occasion.
</p>

<hr class="horizontal-line" />

<h2 class="gold text-center" id="casino-services">
    <em>Casino Services</em>
</h2>

<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Everyone’s a winner when you turn your next event into a Casino Party with Full House Entertainment.  We provide an authentic gaming experience with professional tables and dealers.   
        </p>
        <p>
            Available Games Include:
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <ul class="colored">
            <li>Black Jack</li>
            <li>Let it Ride</li>
            <li>Roulette</li>
            <li>Caribbean Stud Poker</li>
            <li>Three Card Poker</li>
            <li>Red Dog</li>
            <li>Craps</li>
            <li>Texas Hold’em</li>
            <li>Chuck-A-Luck</li>
            <li>Money Wheel</li>
            <li>Casino War</li>
        </ul>
    </div>
</div>

<hr class="horizontal-line" id="monograms-services" />

<h2 class="gold text-center">
    <em>Custom Monograms</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Looking for that little something extra?  One of the newest trends for weddings and special events is custom monogram lighting that can project any image, 
            usually the couples names, wedding date or monograph, on the dance floor or a wall.  
            This feature adds an elegant ambiance to your event, along with providing a unique backdrop for photos.
        </p>
    </div>
</div>

<hr class="horizontal-line" id="fundraising-services" />

<h2 class="gold text-center">
    <em>Fundraising</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Casino Night parties are an excellent way for non-profit organizations to generate revenue. 
            Full House Entertainment provides a number of ideas to help you maximize your fundraising potential. 
            The staff is available for consultation to help you meet your monetary goals. 
            Each fundraising client is encouraged to make full use of the time and knowledge of the Full House Entertainment staff.
        </p>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">TICKET SALES</h4>
                    <p class="text-justify">
                        Selling tickets to a fund raising event is the single most important task in making the event a success.
                        The ticket price for the event can vary greatly, depending on the audience and what is included in the event (e.g. dinner, buffet, open bar, etc.)
                        Providing a discount for advance sales and block sales is a great incentive.
                        For example, if tickets at the door are normally $20 per person, you may want to offer pre-sale tickets at $15 per person or two for $25.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">TABLE SPONSORS</h4>
                    <p class="text-justify">
                        Sell sponsorships for each of the tables at your party. The price of sponsorship will vary based on the organization,
                        the size of the party, and the type of table being sponsored. Generally, the Roulette and Poker based tables yield a higher
                        price than a blackjack or the other tables. For example, Roulette and Poker based tables may cost $250 to sponsor and the Blackjack only $150.
                        You may want to give the sponsor of a table additional perks,
                        such as extra tickets to the event or additional “Fun Money” upon entry. Table sponsorship is a great source of revenue for your casino party.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">TOURNAMENT PLAY</h4>
                    <p class="text-justify">
                        In addition to the tables open for general use during the event, designate one or two Blackjack tables as “tournament” tables.
                        Players participating in tournament play contribute a donation (e.g. $10) and receive additional casino chips to be used only at that
                        tournament table for a specified period of time. At the end of the tournament the player with the most chips is declared the tournament winner.
                        There are many variations to tournament play at casino parties. Contact us and we will be happy to discuss them in more detail.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Sale of Additional "FUN MONEY"</h4>
                    <p class="text-justify">
                        Upon arrival every guest receives a predetermined amount of “Fun Money.” However, selling additional
                        “Fun Money” during the event is a great way to generate additional proceeds for your fundraiser.
                        There is no standard price for purchasing additional “Fun Money”- we leave that to the organizer of the event.
                        Providing a discount for large purchases is a great incentive and will maximize the money that you bring in.
                        For instance, if a $5 donation entitles a guest to and additional 200 in “Fun Money”,
                        then a $10 donation would entitle a guest to 500 in “Fun Money” and a donation of $20 would get 1500 in “Fun Money”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="horizontal-line" id="gameshows-services" />

<h2 class="gold text-center">
    <em>Game Shows</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Looking for a new and exciting way to create a legendary party? We'll set up your party to look just like a game show set.
            Our game show equipment is real. The crowd will erupt in cheers and laughter each time they hear the buzzer.
            Contestants are asked questions that are a blend of trivia questions we bring with ones you can provide.
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <p>
            Available Games Include:
        </p>
        <ul class="colored">
            <li>Jeopardy Simulation</li>
            <li>Wheel of Fortune Simulation</li>
            <li>Family Feud Simulation</li>
            <li>Hollywood Squares Simulation</li>
            <li>Deal or No Deal Simulation</li>
        </ul>
    </div>
</div>

<hr class="horizontal-line" id="lighting-services" />

<h2 class="gold text-center">
    <em>Specialty Lighting</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            Ambiance is important!  Full House Entertainment specializes in creating an environment that is nothing less than stunning.  We offer unique, affordable lighting solutions for weddings and events.  
        </p>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">UPLIGHTING</h4>
                    <p class="text-justify">
                        Bring the room to life with subtle splashes of color on the walls of your venue that compliment your dress, flowers or decorations.  
                        The simple addition of Uplighting to your event can provide an elegant feeling throughout your night.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">DANCE FLOOR LIGHTING</h4>
                    <p class="text-justify">
                        Dance floor lighting can romantic mood lighting effects for your first dance and/or dynamic effects to match the style of the music being played.  
                        Either way dance floor lighting adds to the mood of your event.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="horizontal-line" id="rentals-services" />

<h2 class="gold text-center">
    <em>Rentals</em>
</h2>
<div class="row">
    <div class="col-sm-12 text-center">
        <p class="learnmore">
            Full House Entertainment offers your the ability to build and host your own event through out rental services.
            You can rent everything from dance floors to microphones or speakers.  Check out our rental catalog for more information.
            If you need to rent something that you do not see listed on our catalog, call (<a href="tel:+15857380073">585-738-0073</a>) or
            email (<a href="mailto:info@fullhouse-ent.com">info@fullhouse-ent.com</a>)
            to let us know what you are looking for and we can help you find it.
        </p>
        <p class="learnmore">
            <a href="@Url.Action("Rentals", "Services")">See our full rental catalog <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </p>
    </div>
</div>