@using Website.Models
@using SocialMediaScrapers.Instagram.Model

@{
    ViewBag.Title = "Photo Booth";
    ViewBag.GalleryTitle = "Photo Booth Gallery";
    ViewBag.GalleryDescription = "Click on an image below to view photos of our photo booth.";

    Media coverImage = null;
    InstagramGallery coverImages = ViewBag.CoverImage as InstagramGallery;

    if (coverImages != null)
    {
        coverImage = coverImages.MediaItems.Where(i => i.MediaType == MediaType.Image).OrderByDescending(i => i.CreateDate).FirstOrDefault();
    }

    Layout = "~/Views/Shared/_InnerServicePage.cshtml";
}


@section WhatsIncluded{
    <div class="col-sm-12 text-center">
        <p>
            <strong>Full House Entertainment Provides:</strong>
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <ul class="colored">
            <li>Photo booth for up to 3 hours</li>
            <li>On-site attendant</li>
            <li>Unlimited 3/4/6-Pose B/W or Color Photo strips</li>
            <li>Personalized graphics on the photos</li>
            <li>Props</li>
            <li>Scrapbook option available for an additional fee</li>
        </ul>
    </div>
}

@section Testimonial{
    <div class="text-center">
        <p>
            <em>
                We used full house entertainment at a very last minute book for a photo booth! The booth was this huge blow up!
                It was a great addition to the party! The staff was amazing and our guests had such an amazing time!
                Now we can't wait to put all the photos we got on a flash drive online!
                Thank you to Eric for his fast response time and helping us get that booked at the last minute!
            </em>
        </p>
    </div>
}

<h1 class="gold text-center">@ViewBag.Title</h1>
@if (coverImage != null)
{
    <p class="text-center">
        <img src="@coverImage.Images.LowResolution.Url" width="250" alt="@ViewBag.Title" />
    </p>
}
<p class="text-center">
    Photo booths are a great add on to any party providing your guests with a unique way to share in the fun! 
    Plus, we will provide you with access to all of the photos that were taken in the photo booth, so you won’t miss out on one minute of fun!
</p>