@using Website.Models
@using SocialMediaScrapers.Instagram.Model

@{
    ViewBag.Title = "Rental Catalog";
    Layout = "~/Views/Shared/_InnerServicePage.cshtml";
}


<style type="text/css">
    .body.inner .title-text img {
        border-radius: 0px;
    }
</style>



<h1 class="gold text-center">@ViewBag.Title</h1>

<p class="text-center">
    <img src="~/Content/images/site/rentals/speaker-system.jpg" alt="Bose L1 Compact speaker system" /><br />
    Bose L1 Compact speaker system<br />
    Perfect for smaller venues and presentations<br />
    $100.00/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/dance-floor-lighting.jpg" alt="Chauvet 4 Play CL - Dance Floor Lighting" /><br />
    Chauvet 4 Play CL - Dance Floor Lighting<br />
    2 Available<br />
    $35/Day Each
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/spot-lights.jpg" alt="Chauvet Ez Pin Spot Lights" /><br />
    Chauvet Ez Pin Spot Lights<br />
    Perfect for lighting cenerpieces, cakes or features of décor<br />
    Kit of six are battery and remote operated<br />
    $35/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/portable-dance-floor.jpg" alt="Floorlok 10x10 Portable Dance Floor" height="169" />
    <img src="~/Content/images/site/rentals/portable-dance-floor-2.jpg" alt="Floorlok 10x10 Portable Dance Floor" height="169" /><br />
    Floorlok 10x10 Portable Dance Floor<br />
    Easy instillation for indoor use<br />
    Plywood subfloor needed for outside instillation<br />
    $400.00/Day *delivery extra
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/gas-fryer.jpg" alt="King Cooker Double Propane Gas Fryer" /><br />
    King Cooker Double Propane Gas Fryer<br />
    $30/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/sound-system.jpg" alt="B52 Matrix sound system includes Subwofer and 2-10 mains all cables" /><br />
    B52 Matrix sound system includes Subwofer and 2-10” mains all cables<br />
    $65/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/wireless-lapel-microphone.jpg" alt="Sennheiser Ew100 Wireless Lapel Microphone" /><br />
    Sennheiser Ew100 Wireless Lapel Microphone<br />
    $35/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/wireless-handheld-microphone.jpg" alt="Sennheiser Ew100 Wireless Handheld Microphone" /><br />
    Sennheiser Ew100 Wireless Handheld Microphone<br />
    $35/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/work-lights.jpg" alt="Work Lights" /><br />
    Work Lights<br />
    $10/day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/wireless-microphones.jpg" alt="Vocopro UHF Dual Wireless Microphones" /><br />
    Vocopro UHF Dual Wireless Microphones<br />
    $25/Day
</p>

<p class="text-center">
    <img src="~/Content/images/site/rentals/projection-screen.jpg" alt="Da-Lite Fast Fold 6x8 Projection Screen" /><br />
    Da-Lite Fast Fold 6x8 Projection Screen<br />
    $75/Day
</p>