@if (ViewBag.ShowCarousel != null && (bool)ViewBag.ShowCarousel)
{
    <div id="top-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#top-carousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item x-center y-center active" style="background-image: url(/Content/images/site/carousel/1-min.jpg)">
                <img src="~/Content/images/site/transparent.png" alt="Steve Battaglia and Eric VerStreate" />

                <div class="carousel-caption">
                    <img src="~/Content/images/site/fhe-logo.png" alt="Full House Entertainment" /><br />
                    <h2>
                        <strong>Perfect Entertainment</strong><br />For All of Life's Special Events.
                    </h2>
                </div>
            </div>

            <div class="item x-center y-center" style="background-image: url(/Content/images/site/carousel/2-min.jpg)">
                <img src="~/Content/images/site/transparent.png" alt="Wedding Music Entertainment" />

                <div class="carousel-caption">
                    <h2>
                        <strong>Experts</strong> in wedding ceremonies
                    </h2>
                </div>
            </div>

        </div>
    </div>
}