<nav class="navbar navbar-default top" data-spy="affix">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="images/fhe-logo.png" height="100%" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="#"><img src="images/fb.png" height="100%" /></a>
            <a class="navbar-brand" href="#"><img src="images/twitter.png" height="100%" /></a>
            <a class="navbar-brand" href="#"><img src="images/instagram.png" height="100%" /></a>
            <a class="navbar-brand" href="tel:+15857380073">
                <i class="fa fa-phone-square" aria-hidden="true" style="font-size: 36px; line-height: 30px; color: white;"></i>
            </a>
        </div>
    </div><!-- /.container -->
</nav>