@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row about">
    <div class="col-sm-12 title-text margin-bottom-15">
        <h1 class="gold text-center">@ViewBag.Title</h1>

        <div class="row margin-top-15">
            <div class="col-sm-6 thumb text-center margin-bottom-15">
                <img src="~/Content/images/site/about/steve-min.jpg" alt="Steve Battaglia" /><br />
                <div class="red"><em>This is Steve Battaglia</em></div>
            </div>
            <div class="col-sm-6 thumb text-center margin-bottom-15">
                <img src="~/Content/images/site/about/eric-min.jpg" alt="Eric VerStreate" /><br />
                <div class="red"><em>This is Eric VerStreate</em></div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 text-center margin-top-15">
        <p class="gold"><em>Long, long ago, in a land far, far away...</em></p>
        <p>
            Ok, seriously it was in the year 2000 in Canandaigua, NY but it’s our story so we need to make it fun, right?  So this is where it all began....
            Steve and Eric were at a fun company outing for work, where the “main event” was a casino party.
            They had a blast at the event, "gambling" the night away but something was just wasn’t right.
            There was a sense of professionalism that was missing.  So with extensive customer service background, a few years working in Rochester radio and a
            degree in journalism/mass communication, Steve thought, "hey, I can do this!"  And hence Full House Entertainment was born in 2001.
        </p>
        <p>
            In the beginning, the business focused on only casino events, which were highly successful.  As Full House Entertainment's popularity grew and customers were impressed with
            how they handled every event that hosted, requests came in for additional services and in 2003 the DJ Services arm of the company was added and Eric officially joined the team.
            Keep in mind, Eric was always a member of the team but now he was armed with a microphone and is now one of the premier emcees for weddings and corporate events.
        </p>
        <p>
            Let's fast forward this timeline a little, you don’t have all day to read this and what you really want to do is book your event, so here it goes...
            in 2006 Games Shows were added, 2009 brought Video Game Parties and in 2012 Photo Booths came on the scene and became one of the most requested services that Full House Entertainment provides.
        </p>

        <p>
            Phew!  That’s our story.  But every story has to have a moral, right?  So here is the moral of our story, <span class="gold"><strong><em>WE LOVE WHAT WE DO!</em></strong></span>
            Helping make our customers weddings, birthday parties or special events an amazing experience is what we take pride in doing.
            Trust in us and we promise your story will have a happy ending too!
        </p>
    </div>
</div>