@{
    ViewBag.Title = "Preferred Vendors and Venues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 title-text">
        <h1 class="gold text-center">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-12 text-center">
        <p>We work with the area's top venues to create unforgettable experiences and bring your vision to life.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Vendors</h2>
        <p class="learnmore">Kings Catering</p>
        <p class="learnmore">Dani T</p>
        <p class="learnmore">Marshall Photography</p>
        <p class="learnmore">Magice Moments</p>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Videography</h2>
        <p class="learnmore">Paper Moon</p>

    </div>
</div>