@{
    ViewBag.Title = "Preferred Vendors and Venues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 title-text">
        <h1 class="gold text-center">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-12 text-center">
        <p>We work with the area's top venues to create unforgettable experiences and bring your vision to life.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Venues</h2>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Kings Catering</h4>
                    <p class="text-left learnmore">
                        4031 State Route 5 and 20<br />
                        Canandaigua, NY 14424<br />
                        <a href="tel:+15853946408" title="Call Kings Catering">585.394.6408</a><br />
                        <a href="http://www.kingscateringny.com" target="_blank" title="Visit Kings Catering">www.kingscateringny.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Finger Lakes Hotel</h4>
                    <p class="text-left learnmore">
                        6108 Loomis Road<br />
                        Farmington, NY 14425<br />
                        <a href="tel:+15853987693" title="Call Finger Lakes Hotel">585.398.7693</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Videographers</h2>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Paper Moon Productions</h4>
                    <p class="text-left learnmore">
                        6717 Grimes Road<br />
                        Jordan, NY 13080<br />
                        <a href="tel:+15857757791" title="Call Paper Moon Productions">585.775.7791</a><br />
                        <a href="mailto:andrew@papermoonroc.com" title="Email Paper Moon Productions">andrew@papermoonroc.com</a><br />
                        <a href="http://www.papermoonroc.com" target="_blank" title="Visit Paper Moon Productions">www.papermoonroc.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">From The Ground Up Media</h4>
                    <p class="text-left learnmore">
                        <a href="tel:+113156517849" title="Call From The Ground Up Media">315.651.7849</a><br />
                        <a href="mailto:ben@fromthegoundupmedia.com" title="Email From The Ground Up Media">ben@fromthegoundupmedia.com</a><br />
                        <a href="http://www.fromthegroundupmedia.com" title="Visit From The Ground Up Media">www.fromthegroundupmedia.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Photography</h2>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">James Kenneth Studios</h4>
                    <p class="text-left learnmore">
                        34 Elton Street<br />
                        Rochester, NY 14607<br />
                        <a href="tel:+15853005571" title="Call James Kenneth Studios">585.300.5571</a><br />
                        <a href="http://www.jameskennethstudios.com" target="_blank" title="Visit James Kenneth Studios">www.jameskennethstudios.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Magic Moments Photography</h4>
                    <p class="text-left learnmore">
                        880 Winton Road S<br />
                        Rochester, NY 14618<br />
                        <a href="tel:+15857031680" title="Call Magic Moments Photography">585.703.1680</a><br />
                        <a href="http://www.magicmoments.smugmug.com" target="_blank" title="Visit Magic Moments Photography">www.magicmoments.smugmug.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row other-services-holder">
    <div class="row-height">
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Rockefeller Photography</h4>
                    <p class="text-left learnmore">
                        Sareena Rockefeller <br />
                        <a href="http://www.facebook.com/rockefellerphotography" target="_blank" title="Visit Rockefeller Photography on Facebook">facebook.com/rockefellerphotography</a><br />
                        <a href="tel:+15853096047" title="Call Rockefeller Photography">585.309.6047</a><br />
                        <a href="mailto:srockefellerphotography@yahoo.com" target="_blank" title="Email Rockefeller Photography">srockefellerphotography@yahoo.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-height margin-bottom-15 margin-top-15">
            <div class="inside inside-full-height other-services-blob">
                <div class="content">
                    <h4 class="other-services-title text-center">Marshall Arts Studios</h4>
                    <p class="text-left learnmore">
                        250 Goodman Street N, Suite 104E<br />
                        Rochester, NY 14607<br />
                        <a href="mailto:Karla@MarshallArtsStudios.com" target="_blank" title="Email Marshall Arts Studios">karla@marshallartsstudios.com</a><br />
                        <a href="http://www.marshallartsstudios.com" target="_blank" title="Visit Marshall Arts Studios">www.marshallartsstudios.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>