@{
    ViewBag.Title = "Vendors and Affiliates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 title-text">
        <h1 class="gold text-center">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Restaurants</h2>
        <p class="learnmore"><a href="#">Restaurant 1</a></p>
        <p class="learnmore"><a href="#">Restaurant 2</a></p>
        <p class="learnmore"><a href="#">Restaurant 3</a></p>
        <p class="learnmore"><a href="#">Restaurant 4</a></p>
        <p class="learnmore"><a href="#">Restaurant 5</a></p>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Wedding Planners</h2>
        <p class="learnmore"><a href="#">Planner 1</a></p>
        <p class="learnmore"><a href="#">Planner 2</a></p>
        <p class="learnmore"><a href="#">Planner 3</a></p>
        <p class="learnmore"><a href="#">Planner 4</a></p>
        <p class="learnmore"><a href="#">Planner 5</a></p>

    </div>
</div>