@{
    ViewBag.Title = "Awards and Recognition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 title-text">
        <h1 class="gold text-center">@ViewBag.Title</h1>
    </div>

    <div class="col-sm-12 text-center">
        <p>
            <a href="https://www.weddingwire.com/reviews/full-house-entertainment-farmington/37a973a4f2e7269b.html" title="Full House Entertainment on WeddingWire" target="_blank">
                <img alt="Wedding Wire Couples' Choice Awards 2017" src="//www.weddingwire.com/assets/badges/BCA-2017/BCA2017-logo.png" />
            </a>
        </p>
    </div>
    <div class="col-sm-12 text-center">
        <p>
            <img alt="Western New York Mobile Entertainment Alliance" src="~/Content/images/site/awards/wnymea.jpg" style="width: 250px" />
        </p>
        <p class="caption">Past Member</p>
    </div>
</div>